<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>course-authoring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetData</display-name>
    <servlet-name>GetData</servlet-name>
    <servlet-class>GetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResAdd</display-name>
    <servlet-name>ResAdd</servlet-name>
    <servlet-class>ResAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResAdd</servlet-name>
    <url-pattern>/ResAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResEdit</display-name>
    <servlet-name>ResEdit</servlet-name>
    <servlet-class>ResEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResEdit</servlet-name>
    <url-pattern>/ResEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResDelete</display-name>
    <servlet-name>ResDelete</servlet-name>
    <servlet-class>ResDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResDelete</servlet-name>
    <url-pattern>/ResDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResSetIdx</display-name>
    <servlet-name>ResSetIdx</servlet-name>
    <servlet-class>ResSetIdx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResSetIdx</servlet-name>
    <url-pattern>/ResSetIdx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResProvAdd</display-name>
    <servlet-name>ResProvAdd</servlet-name>
    <servlet-class>ResProvAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResProvAdd</servlet-name>
    <url-pattern>/ResProvAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResProvRemove</display-name>
    <servlet-name>ResProvRemove</servlet-name>
    <servlet-class>ResProvRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResProvRemove</servlet-name>
    <url-pattern>/ResProvRemove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitAdd</display-name>
    <servlet-name>UnitAdd</servlet-name>
    <servlet-class>UnitAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitAdd</servlet-name>
    <url-pattern>/UnitAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitEdit</display-name>
    <servlet-name>UnitEdit</servlet-name>
    <servlet-class>UnitEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitEdit</servlet-name>
    <url-pattern>/UnitEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitDelete</display-name>
    <servlet-name>UnitDelete</servlet-name>
    <servlet-class>UnitDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitDelete</servlet-name>
    <url-pattern>/UnitDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitSetIdx</display-name>
    <servlet-name>UnitSetIdx</servlet-name>
    <servlet-class>UnitSetIdx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitSetIdx</servlet-name>
    <url-pattern>/UnitSetIdx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitAddAct</display-name>
    <servlet-name>UnitAddAct</servlet-name>
    <servlet-class>UnitAddAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitAddAct</servlet-name>
    <url-pattern>/UnitAddAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitRemoveAct</display-name>
    <servlet-name>UnitRemoveAct</servlet-name>
    <servlet-class>UnitRemoveAct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitRemoveAct</servlet-name>
    <url-pattern>/UnitRemoveAct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitGetLst</display-name>
    <servlet-name>UnitGetLst</servlet-name>
    <servlet-class>UnitGetLst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitGetLst</servlet-name>
    <url-pattern>/UnitGetLst</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseClone</display-name>
    <servlet-name>CourseClone</servlet-name>
    <servlet-class>CourseClone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseClone</servlet-name>
    <url-pattern>/CourseClone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDelete</display-name>
    <servlet-name>CourseDelete</servlet-name>
    <servlet-class>CourseDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDelete</servlet-name>
    <url-pattern>/CourseDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActSetIdx</display-name>
    <servlet-name>ActSetIdx</servlet-name>
    <servlet-class>ActSetIdx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActSetIdx</servlet-name>
    <url-pattern>/ActSetIdx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseAdd</display-name>
    <servlet-name>CourseAdd</servlet-name>
    <servlet-class>CourseAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAdd</servlet-name>
    <url-pattern>/CourseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEdit</display-name>
    <servlet-name>CourseEdit</servlet-name>
    <servlet-class>CourseEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEdit</servlet-name>
    <url-pattern>/CourseEdit</url-pattern>
  </servlet-mapping>
</web-app>